# --- BEGIN multi-project ignores ---

# IDE
.idea/
*.iml
.metals/
.vscode/

# Logs
*.log

# Secrets
*.env
.secure_files/*
!.secure_files/
!.secure_files/*.example
cache.config
credentials.config
endpoint.config
.credentials*
!.credentials*.example

# OS
.DS_Store
Thumbs.db

# --- END multi-project ignores ---

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
